@charset "UTF-8";

@media screen and (min-width: 769px) {
    #burguer{
        display: none;
    }

    nav{
        display: block;
        
    }

    a{
        border-top: none;
    }

    li{
        display: inline-block;
    }

    nav > ul{
        text-align: left;
        
    }

    main{
        width: 85vw;
    }
}

@media screen and (min-width: 1201px){

    main{
        font-size: 1em;
        width: 50vw;
    }
}